@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_logLayout";
}
@model Series

<h1> film : @Model.Name </h1>

@foreach (Season item in Model.Seasons)
{
   <h1> @item.Number</h1>
   @foreach (Media epi in item.Episodies)
    {
        <h2> @epi.Name </h2>
        <a class="btn btn-primary d-block" style="color : white ; width : 100 px ; " href="@epi.VideUrl ">
                riproduci
        </a>
    }
}

sono lo show